<footer>

    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <ul class="social ">
                        <li> <a> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright - 2020 © MiRedSocial. All right reserved. </p>
        </div>
    </div>

</footer>
