<div class="Container">

  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">

    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/perfil-usuario']" routerLinkActive="active">Perfil Usuari</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/registro-usuario']" routerLinkActive="active">Registrar Usuari</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active">Administrador</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active">Contacte</a>
          </li>
        </ul>
      </div>

    </div>

  </nav>

</div>
