<!-- Navbar-->
<header class="header">

  <nav class="navbar fixed-top navbar-expand-lg navbar-light " id="menu">
    <img src="../../../assets/img/icono1.svg" width="75" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link " [routerLink]="['/home']" routerLinkActive="active" >Perfil Usuaris</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/eventos']" routerLinkActive="active" >Registre Usuaris</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active" >Administrador</a>
        </li>
      </ul>
    </div>
  </nav>
<!--<div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">MOUNTAIN LIFE</h1>
          <p class="lead mb-0">Los mejores eventos de montaña!</p>
        </div>
      </div>
    </div>-->
<!-- Header-->


</header>

