<!-- Formulario de registro -->
<form class="container-fluid" style="max-width: 65%;">
  <h1>Formulario de registro</h1>
  <!-- Nombre -->
  <div class="form-group">
    <label>Nom:</label>
    <input #VNom type="text" class="form-control" placeholder="Pepe">
    <small id="emailHelp" class="form-text text-muted">{{errNom}}</small>
  </div>
  <!-- Apellidos -->
  <div class="form-group">
    <label>Cognoms:</label>
    <input #VCognom type="text" class="form-control" placeholder="Palotes">
    <small id="emailHelp" class="form-text text-muted">{{errApellido}}</small>
  </div>
  <!-- Edad -->
  <div class="form-group">
    <label>Edat:</label>
    <input #VEdat type="number" class="form-control" placeholder="21">
    <small id="emailHelp" class="form-text text-muted">{{errEdat}}</small>
  </div>
  <!-- Foto -->
  <div class="form-group">
    <label>Foto:</label>
    <input #VFoto type="text" class="form-control" placeholder="/assets/img/perfil1.svg">
    <small id="emailHelp" class="form-text text-muted">{{errFoto}}</small>
  </div>
  <!-- Descripcion -->
  <div class="form-group">
    <label>Descripció:</label>
    <input #VDescripcio type="text" class="form-control" placeholder="Hola, ...">
    <small id="emailHelp" class="form-text text-muted">{{errDesc}}</small>
  </div>
  <!-- Correo -->
  <div class="form-group">
    <label>Email:</label>
    <input #VEmail type="email" class="form-control" placeholder="hola@hola.com">
    <small id="emailHelp" class="form-text text-muted">{{errEmail}}</small>
  </div>
  <!-- Contraseña -->
  <div class="form-group">
    <label>Contrasenya:</label>
    <input #VContrasena type="password" class="form-control" placeholder="**********">
  </div>
  <!-- Confirmar contraseña -->
  <div class="form-group">
    <label>Confirmar contrasenya:</label>
    <input #VConfirmContrasena type="password" class="form-control" placeholder="*********">
    <small id="emailHelp" class="form-text text-muted">{{errCont}}</small>
  </div>
  <input type="button" class="btn btn-primary" value="Registrar" (click)="enviarDatos(VNom.value, VCognom.value, VEdat.value,VFoto.value, VDescripcio.value, VEmail.value, VContrasena.value, VConfirmContrasena.value)"/>
</form>
