<div class="container-fluid">
  <!--TITULO DE LA PAGINA-->
  <h4 class="font-weight-bold text-center display-4">Panel Administradores</h4>

  <section>
    <div class="container">

      <!--Titulo Tabla usuarios-->
      <div class="titulo">
        <h2>Usuarios Registrados</h2>
      </div>
      <!--Contenido Tabla Usuarios-->
      <div class="contenido">
        <app-llista-usuaris></app-llista-usuaris>
      </div>

    </div>
  </section>

</div>

<script type="text/javascript" src="../header/js/transparent-nav-scroll.js"></script>
